include LICENSE
include README.md
include CHANGELOG.md

exclude urls.py
exclude wsgi.py
exclude settings.py
exclude manage.py

recursive-exclude node_modules *

recursive-include survey/static *
recursive-include survey/templates *
exclude package.json
exclude package-lock.json
exclude webpack.config.json
exclude webpack-stats.json